In [84]:
import pandas as pd

In [85]:
forsale_data = "Resources1/Forsale_inventory.csv"
homevalue_index = "Resources1/Homevalue_index.csv"
homevalue_forecast = "Resources1/Homevalue_forecast.csv"
newlisting_inv = "Resources1/Newlisting_inventory.csv"

In [86]:
# Create a DataFrame for the all the data sets . 
forsale_data_df = pd.read_csv(forsale_data)
homevalue_index_df = pd.read_csv(homevalue_index, index_col = False)
homevalue_forecast_df = pd.read_csv(homevalue_forecast)
newlisting_inv_df = pd.read_csv(newlisting_inv)

### Homevalue_index

In [77]:
# Drop dates from 2000-2017
#forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank', '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31'], axis = 1
homevalue_index_df.drop(homevalue_index_df.iloc[:, 5:221], inplace=True, axis=1)

In [78]:
homevalue_index_df= homevalue_index_df.drop(['RegionType', 'SizeRank'], axis = 1)
homevalue_index_df

,RegionID,RegionName,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
0,102001,United States,NaN,227454.0,228827.0,230163.0,231484.0,232704.0,233820.0,234855.0,...,269165.0,272132.0,275247.0,278593.0,282335.0,286913.0,292304.0,298069.0,303296.0,308220.0
1,394913,"New York, NY",NY,457787.0,460405.0,463361.0,466397.0,468780.0,470440.0,471151.0,...,514350.0,519193.0,523962.0,528241.0,532983.0,538439.0,545638.0,553551.0,561136.0,567059.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,640399.0,645573.0,650599.0,655148.0,657699.0,660565.0,660997.0,...,736123.0,741232.0,748830.0,756443.0,767598.0,783132.0,803315.0,824025.0,837548.0,846526.0
3,394463,"Chicago, IL",IL,233362.0,234721.0,235523.0,236008.0,236462.0,236897.0,237309.0,...,257432.0,258905.0,261216.0,263319.0,266367.0,269105.0,272894.0,277086.0,281183.0,284285.0
4,394514,"Dallas-Fort Worth, TX",TX,235051.0,237050.0,239004.0,240541.0,241703.0,242827.0,243809.0,...,274646.0,276926.0,280361.0,284368.0,289886.0,296250.0,303499.0,311268.0,319368.0,326597.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,394767,"Lamesa, TX",TX,66541.0,67038.0,67638.0,68026.0,68382.0,68647.0,68921.0,...,79310.0,80172.0,80559.0,80926.0,80844.0,81005.0,81142.0,81938.0,82554.0,NaN
905,753874,"Craig, CO",CO,208249.0,208800.0,208979.0,208541.0,207783.0,206231.0,205071.0,...,208341.0,209077.0,210293.0,211919.0,213791.0,216085.0,218349.0,220683.0,222523.0,NaN
906,394968,"Pecos, TX",TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136195.0,136991.0,138303.0,139266.0,140898.0,142566.0,143997.0,145582.0,149426.0,155713.0
907,395188,"Vernon, TX",TX,65714.0,66119.0,66435.0,66637.0,66780.0,66954.0,66979.0,...,68175.0,68286.0,68570.0,68718.0,68811.0,68969.0,69419.0,69912.0,70115.0,NaN
908,394743,"Ketchikan, AK",AK,292161.0,292614.0,292728.0,292840.0,293065.0,293946.0,294556.0,...,318154.0,320828.0,321310.0,321752.0,322049.0,322418.0,322547.0,322622.0,323793.0,329137.0

In [79]:
#Dropping rows with null values 
homevalue_index_dfnew = homevalue_index_df.dropna()
homevalue_index_dfnew

,RegionID,RegionName,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
1,394913,"New York, NY",NY,457787.0,460405.0,463361.0,466397.0,468780.0,470440.0,471151.0,...,514350.0,519193.0,523962.0,528241.0,532983.0,538439.0,545638.0,553551.0,561136.0,567059.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,640399.0,645573.0,650599.0,655148.0,657699.0,660565.0,660997.0,...,736123.0,741232.0,748830.0,756443.0,767598.0,783132.0,803315.0,824025.0,837548.0,846526.0
3,394463,"Chicago, IL",IL,233362.0,234721.0,235523.0,236008.0,236462.0,236897.0,237309.0,...,257432.0,258905.0,261216.0,263319.0,266367.0,269105.0,272894.0,277086.0,281183.0,284285.0
4,394514,"Dallas-Fort Worth, TX",TX,235051.0,237050.0,239004.0,240541.0,241703.0,242827.0,243809.0,...,274646.0,276926.0,280361.0,284368.0,289886.0,296250.0,303499.0,311268.0,319368.0,326597.0
5,394974,"Philadelphia, PA",PA,233301.0,234518.0,235991.0,237497.0,238480.0,238988.0,239460.0,...,274818.0,278042.0,281127.0,284242.0,287535.0,291946.0,296765.0,301366.0,304989.0,307863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,394805,"Los Alamos, NM",NM,277863.0,278823.0,279727.0,280733.0,282138.0,282260.0,282849.0,...,327588.0,330628.0,333016.0,335644.0,338363.0,342119.0,345854.0,350231.0,352871.0,359504.0
892,394841,"Maysville, KY",KY,87655.0,87893.0,88176.0,88529.0,88976.0,89284.0,89518.0,...,98274.0,98877.0,99480.0,100021.0,100689.0,101348.0,102044.0,102823.0,103423.0,105735.0
900,395142,"Sweetwater, TX",TX,74285.0,75006.0,75496.0,75860.0,76144.0,76328.0,76363.0,...,80946.0,81210.0,81648.0,80851.0,80406.0,79800.0,80578.0,81183.0,81498.0,83259.0
902,753929,"Zapata, TX",TX,89025.0,89463.0,89857.0,89972.0,89807.0,89750.0,89938.0,...,98629.0,99183.0,99619.0,100022.0,100473.0,100929.0,101600.0,102117.0,102367.0,104489.0
908,394743,"Ketchikan, AK",AK,292161.0,292614.0,292728.0,292840.0,293065.0,293946.0,294556.0,...,318154.0,320828.0,321310.0,321752.0,322049.0,322418.0,322547.0,322622.0,323793.0,329137.0

### FORSALE_INVENTORY

In [80]:
# Drop irrelevant columns
forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank'], axis = 1)

In [81]:
#Dropping rows with null values 
forsale_data_dfnew = forsale_data_df.dropna()
forsale_data_dfnew

,RegionID,RegionName,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
1,394913,"New York, NY",NY,68959.0,68533.0,73055.0,79997.0,86014.0,90560.0,92659.0,...,70429.0,63765.0,59467.0,58707.0,59303.0,61415.0,63851.0,65374.0,65626.0,63413.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,20082.0,19921.0,21880.0,23806.0,25775.0,27369.0,29068.0,...,22843.0,20599.0,19375.0,19880.0,20222.0,20670.0,20772.0,21361.0,21820.0,21562.0
3,394463,"Chicago, IL",IL,42828.0,41151.0,44782.0,49345.0,53896.0,56278.0,58180.0,...,41610.0,37005.0,33332.0,32924.0,33251.0,35688.0,37795.0,39816.0,41289.0,41211.0
4,394514,"Dallas-Fort Worth, TX",TX,24290.0,23211.0,24351.0,26755.0,29542.0,31957.0,33916.0,...,26066.0,23620.0,21410.0,20984.0,20715.0,21698.0,22420.0,23593.0,24588.0,24499.0
5,394974,"Philadelphia, PA",PA,26493.0,25055.0,26080.0,28356.0,30658.0,31821.0,31542.0,...,18554.0,16822.0,15479.0,15779.0,16412.0,17919.0,18940.0,19832.0,20386.0,20244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,394767,"Lamesa, TX",TX,28.0,32.0,35.0,36.0,37.0,39.0,41.0,...,31.0,29.0,27.0,24.0,28.0,34.0,39.0,38.0,36.0,34.0
913,753874,"Craig, CO",CO,120.0,112.0,110.0,112.0,121.0,144.0,160.0,...,123.0,105.0,89.0,81.0,80.0,77.0,73.0,69.0,74.0,79.0
914,394968,"Pecos, TX",TX,13.0,14.0,15.0,14.0,15.0,15.0,15.0,...,20.0,22.0,24.0,24.0,25.0,25.0,25.0,24.0,25.0,25.0
915,395188,"Vernon, TX",TX,19.0,20.0,21.0,27.0,32.0,39.0,39.0,...,18.0,17.0,15.0,13.0,13.0,13.0,15.0,19.0,23.0,26.0
916,394743,"Ketchikan, AK",AK,63.0,56.0,53.0,53.0,55.0,63.0,72.0,...,50.0,47.0,45.0,43.0,43.0,49.0,55.0,58.0,56.0,50.0

### Newlisting_inventory

In [82]:
# Drop irrelevant columns
newlisting_inv_df = newlisting_inv_df.drop(['RegionType', 'SizeRank'], axis = 1)

In [83]:
#Dropping rows with null values 
newlisting_inv_dfnew = newlisting_inv_df.dropna()
newlisting_inv_dfnew

,RegionID,RegionName,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
1,394913,"New York, NY",NY,13884.0,16454.0,18754.0,19551.0,18597.0,16757.0,15807.0,...,15725.0,13625.0,14040.0,17440.0,20093.0,22215.0,22996.0,22324.0,21263.0,18728.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,12378.0,13119.0,13915.0,14436.0,14169.0,13871.0,13224.0,...,8287.0,7704.0,8223.0,9786.0,10284.0,10664.0,10563.0,10799.0,11064.0,10386.0
3,394463,"Chicago, IL",IL,19087.0,21373.0,22875.0,21784.0,20173.0,18898.0,18234.0,...,11704.0,11100.0,11638.0,14768.0,16424.0,19206.0,20505.0,20819.0,19796.0,17420.0
4,394514,"Dallas-Fort Worth, TX",TX,9728.0,10996.0,12432.0,13001.0,12841.0,12207.0,10903.0,...,9164.0,8655.0,8215.0,9378.0,10315.0,11809.0,12389.0,12935.0,12969.0,11676.0
5,394974,"Philadelphia, PA",PA,7957.0,9507.0,10736.0,10901.0,10516.0,9795.0,9409.0,...,7641.0,6697.0,6507.0,7901.0,9177.0,10582.0,11139.0,11118.0,10795.0,9773.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,395112,"Spirit Lake, IA",IA,4.0,3.0,4.0,3.0,3.0,3.0,3.0,...,24.0,21.0,26.0,29.0,41.0,47.0,51.0,52.0,74.0,76.0
906,753925,"Vineyard Haven, MA",MA,26.0,32.0,44.0,42.0,35.0,20.0,18.0,...,33.0,25.0,20.0,20.0,24.0,27.0,30.0,29.0,43.0,44.0
907,753927,"Winnemucca, NV",NV,9.0,10.0,13.0,12.0,12.0,12.0,13.0,...,15.0,11.0,11.0,13.0,14.0,21.0,23.0,30.0,28.0,27.0
908,395142,"Sweetwater, TX",TX,4.0,4.0,5.0,5.0,4.0,3.0,2.0,...,9.0,7.0,7.0,10.0,14.0,17.0,17.0,16.0,15.0,14.0
913,753874,"Craig, CO",CO,22.0,30.0,46.0,53.0,48.0,38.0,30.0,...,21.0,16.0,17.0,23.0,33.0,38.0,42.0,41.0,40.0,39.0