In [22]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import datetime

In [23]:
# Import our input dataset
median_df = pd.read_csv('Clean_mediansale_price.csv')
median_df.head(10)

,City,RegionID,StateName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
0,New York,394913,NY,386000.0,387000.0,387000.0,390333.0,395000.0,406667.0,420000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
1,Los Angeles-Long Beach-Anaheim,753899,CA,571833.0,570167.0,577498.0,589165.0,602498.0,609667.0,615000.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
2,Chicago,394463,IL,211333.0,211333.0,216200.0,224867.0,234833.0,241800.0,243467.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
3,Dallas-Fort Worth,394514,TX,236500.0,239000.0,242333.0,249667.0,256667.0,261333.0,261643.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
4,Philadelphia,394974,PA,226333.0,221333.0,217667.0,222000.0,231000.0,243633.0,249300.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
5,Houston,394692,TX,218333.0,217000.0,217740.0,223574.0,228574.0,231833.0,232667.0,...,264617.0,267708.0,266558.0,268907.0,274857.0,285190.0,294208.0,301667.0,306539.0,307539.0
6,Washington,395209,DC,378124.0,377791.0,373084.0,381874.0,394540.0,405895.0,408648.0,...,449967.0,447898.0,439564.0,431264.0,436667.0,456667.0,481667.0,495000.0,499667.0,493000.0
7,Miami-Fort Lauderdale,394856,FL,255000.0,253333.0,252500.0,255867.0,260533.0,268033.0,272000.0,...,330000.0,330000.0,331667.0,335000.0,340000.0,345000.0,351000.0,356750.0,361750.0,365000.0
8,Atlanta,394347,GA,210667.0,210667.0,211667.0,217000.0,222023.0,225566.0,227566.0,...,284833.0,285000.0,283333.0,284192.0,290858.0,302683.0,315825.0,325908.0,333068.0,333543.0
9,Boston,394404,MA,398833.0,393833.0,398333.0,401667.0,415000.0,425550.0,434717.0,...,514667.0,511333.0,511333.0,514083.0,521750.0,538417.0,559333.0,583333.0,595000.0,598333.0

In [24]:
# median_df['City'] = ['Houston']

desired_df = median_df[median_df['City'] == 'Houston']

desired_df

,City,RegionID,StateName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
5,Houston,394692,TX,218333.0,217000.0,217740.0,223574.0,228574.0,231833.0,232667.0,...,264617.0,267708.0,266558.0,268907.0,274857.0,285190.0,294208.0,301667.0,306539.0,307539.0

In [25]:
columns_to_be_partitioned = []

columns_to_be_partitioned.extend(['City', 'RegionID', 'StateName'])
date_columns = [column for column in desired_df.columns if '2021' in column]
columns_to_be_partitioned.extend(date_columns)

In [26]:
#years = ['2017', '2018','2019', '2020']

In [27]:
#

In [28]:
#lists['2019']

In [29]:
#median_df[lists['2019'][0]].mean()

In [30]:
final_df = desired_df[columns_to_be_partitioned]

In [31]:
final_df

,City,RegionID,StateName,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
5,Houston,394692,TX,266558.0,268907.0,274857.0,285190.0,294208.0,301667.0,306539.0,307539.0

In [32]:
final_df.transpose()

                   5
City         Houston
RegionID      394692
StateName         TX
2021-01-31  266558.0
2021-02-28  268907.0
2021-03-31  274857.0
2021-04-30  285190.0
2021-05-31  294208.0
2021-06-30  301667.0
2021-07-31  306539.0
2021-08-31  307539.0

In [34]:
final_dates_df = final_df(pd.date_range('2018-1-1'))
final_dates_df = pd.DataFrame(dict(date_given = date1))
  
final_dates_df['month_of_date'] = final_dates_df['date_given'].dt.month
final_dates_df

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [ ]:
x_axis= 
y_axis=

In [20]:
plt.scatter('final_df')
plt.xlabel('Date')
plt.ylabel('median price')
plt.show()

TypeError: scatter() missing 1 required positional argument: 'y'

In [46]:
model = LinearRegression()

In [ ]:
model.fit(X, y)

In [11]:
y_pred = model.predict(X)
print(y_pred.shape)

NameError: name 'X' is not defined

In [12]:
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()

NameError: name 'X' is not defined

In [13]:
print(model.coef_)
print(model.intercept_)

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [14]:
model = LinearRegression()

In [15]:
model.fit(X,y)

NameError: name 'X' is not defined

In [16]:
y_pred = model.predict(X)

NameError: name 'X' is not defined

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

NameError: name 'X' is not defined

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [19]:
classifier.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [20]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

NameError: name 'X_test' is not defined

In [21]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

NameError: name 'y_test' is not defined