In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
cost_df = pd.read_csv('../Resources1/2017-2019_price.csv')
cost_df.head(10)

,RegionName,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,...,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019
0,"New York, NY","$386,000.00","$387,000.00","$387,000.00","$390,333.00","$395,000.00","$406,667.00","$420,000.00","$426,667.00","$425,000.00",...,"$407,500.00","$407,500.00","$410,833.00","$421,667.00","$431,667.00","$435,667.00","$432,333.00","$425,667.00","$421,667.00","$420,000.00"
1,"Los Angeles-Long Beach-Anaheim, CA","$571,833.00","$570,167.00","$577,498.00","$589,165.00","$602,498.00","$609,667.00","$615,000.00","$617,917.00","$619,583.00",...,"$633,167.00","$643,931.00","$649,098.00","$653,431.00","$661,000.00","$662,667.00","$661,667.00","$654,167.00","$652,667.00","$654,333.00"
2,"Chicago, IL","$211,333.00","$211,333.00","$216,200.00","$224,867.00","$234,833.00","$241,800.00","$243,467.00","$240,900.00","$233,400.00",...,"$228,667.00","$236,000.00","$244,000.00","$249,333.00","$251,000.00","$249,333.00","$243,333.00","$238,333.00","$235,000.00","$234,333.00"
3,"Dallas-Fort Worth, TX","$236,500.00","$239,000.00","$242,333.00","$249,667.00","$256,667.00","$261,333.00","$261,643.00","$259,583.00","$254,917.00",...,"$259,193.00","$265,823.00","$272,823.00","$277,355.00","$280,092.00","$278,425.00","$274,333.00","$271,667.00","$270,000.00","$271,833.00"
4,"Philadelphia, PA","$226,333.00","$221,333.00","$217,667.00","$222,000.00","$231,000.00","$243,633.00","$249,300.00","$250,967.00","$243,000.00",...,"$231,884.00","$236,584.00","$245,918.00","$255,000.00","$262,667.00","$266,633.00","$260,633.00","$253,300.00","$248,333.00","$249,000.00"
5,"Houston, TX","$218,333.00","$217,000.00","$217,740.00","$223,574.00","$228,574.00","$231,833.00","$232,667.00","$231,667.00","$229,333.00",...,"$232,227.00","$238,333.00","$244,333.00","$249,000.00","$250,667.00","$251,000.00","$247,333.00","$243,967.00","$242,933.00","$245,449.00"
6,"Washington, DC","$378,124.00","$377,791.00","$373,084.00","$381,874.00","$394,540.00","$405,895.00","$408,648.00","$405,948.00","$397,596.00",...,"$398,000.00","$407,012.00","$417,897.00","$422,897.00","$425,885.00","$423,331.00","$414,998.00","$409,964.00","$409,967.00","$416,967.00"
7,"Miami-Fort Lauderdale, FL","$255,000.00","$253,333.00","$252,500.00","$255,867.00","$260,533.00","$268,033.00","$272,000.00","$275,667.00","$272,333.00",...,"$279,750.00","$283,167.00","$286,929.00","$289,429.00","$295,096.00","$297,167.00","$295,333.00","$295,000.00","$298,333.00","$301,000.00"
8,"Atlanta, GA","$210,667.00","$210,667.00","$211,667.00","$217,000.00","$222,023.00","$225,566.00","$227,566.00","$226,543.00","$223,167.00",...,"$242,165.00","$246,333.00","$253,667.00","$259,000.00","$263,667.00","$262,750.00","$260,733.00","$257,400.00","$257,983.00","$260,000.00"
9,"Boston, MA","$398,833.00","$393,833.00","$398,333.00","$401,667.00","$415,000.00","$425,550.00","$434,717.00","$436,383.00","$428,500.00",...,"$437,900.00","$441,633.00","$458,233.00","$474,900.00","$484,833.00","$484,000.00","$472,333.00","$461,667.00","$454,000.00","$457,333.00"

In [ ]:
# Our scatter plot here

In [ ]:
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [4]:
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NameError: name 'skl' is not defined

In [ ]:
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [ ]:

# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=2))

In [ ]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=18, activation="sigmoid"))

In [ ]:
# Check the structure of the Sequential model
nn_model.summary()

In [ ]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)